In [12]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import time

# Mac User

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
# !which chromedriver

In [3]:
# /usr/local/bin/chromedriver

In [4]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

# Windows User

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [3]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
articles = soup.find('div', class_='list_text')
news_title = articles.find('div', class_='content_title').text
news_p = articles.find('div', class_='article_teaser_body').text

print(f"The latest news title is: '{news_title}.'")
print(f"The article concerns: '{news_p}'")

The latest news title is: 'NASA Engineers Checking InSight's Weather Sensors.'
The article concerns: 'An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.'

# JPL Mars Space Images - Featured Image

In [38]:
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)

In [39]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [40]:
results = soup.find('div', class_='carousel_items')
img_link = results.a['data-fancybox-href']
print(f"https://www.jpl.nasa.gov" + img_link)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17936_ip.jpg

In [41]:
# print out address of largesize of featured image. click by partial text required
element_full = browser.links.find_by_partial_text("FULL IMAGE")
element_full.click()
time.sleep(1)

element_more = browser.links.find_by_partial_text("more info")
element_more.click()
time.sleep(1)

html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

img_element = img_soup.find('figure', class_='lede')
lrg_img = img_element.find('a')['href']

print(f"https://www.jpl.nasa.gov" + lrg_img)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17936_hires.jpg

# Mars Weather via Twitter

In [42]:
twitter_url = 'https://www.twitter.com/marswxreport?lang=en'
browser.visit(twitter_url)

In [43]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [45]:
tweet = soup.find('div', class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0")
weather = tweet.find('span').text
print(f"Mars weather: {weather}")

Mars weather: InSight sol 611 (2020-08-15) low -93.8ºC (-136.9ºF) high -15.9ºC (3.4ºF)
winds from the WNW at 7.3 m/s (16.3 mph) gusting to 17.9 m/s (40.2 mph)
pressure at 7.90 hPa

# Mars Facts

In [46]:
facts_url = 'https://space-facts.com/mars/'
browser.visit(facts_url)

In [47]:
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [48]:
mars_facts = tables[0]
mars_facts.columns = ['Fact_Categories', 'Martian Facts']
mars_facts.head()

        Fact_Categories                  Martian Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [49]:
mars_facts.set_index('Fact_Categories', inplace=True)
mars_facts.head()

                                      Martian Facts
Fact_Categories
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [50]:
html_marstable = mars_facts.to_html()
html_marstable

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Martian Facts</th>\n    </tr>\n    <tr>\n      <th>Fact_Categories</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [51]:
html_marstable.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Martian Facts</th>    </tr>    <tr>      <th>Fact_Categories</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [52]:
mars_facts.to_html('mars_table.html')